# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Env files
.env
*.env
.env.local
.env.development
.env.production

# Python
__pycache__/
*.pyc

# Go
bin/

# Docker volumes
mongo_data/
